body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
  max-width: 500px;
}

button:active{
    border: 2px solid #888888;
    box-shadow: 2px 2px #888888;
}

dialog {
  max-width: 500px;
  border-radius: 2rem;
  border: none;
  width: 94vw;
  margin: auto 3vw;
  padding: 0;
}

h1 {
  display: inline-block;
  font-size: 5vh;
  margin: 2.5vh;
}

/* Title Section and gameboard */

.btnPlayPause {
  font-family: 'Noto Emoji', sans-serif;
}

.countdown {
  display: inline-block;
  position: absolute;
  left: 5%;
  margin: 2.5vh auto;
  font-size: 5vh;
  font-weight: bold;
}

.header {
  display:inline-block;
  width: 100%;
  position: relative;
  height: 8vh;
}

.scoreBoard {
  display: inline-block;
  position: absolute;
  right: 5%;

}

table, td {
    border: 2px solid grey;
    margin: calc(2.5vh - 8px) auto;
    font-size: 5vh;
    line-height: 4vh;
    font-weight: bold;
}

/* Modals */

.modal {
  position: absolute;
  /* top: 40px; left: 3vw; */

  max-width: 500px;

  border: none;
  width: 94vw;
  height: 92vh;
  padding: 0;

}

.mainModal {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0px rgb(0 0 0 / 20%), 6px 0 20px 0 rgb(0 0 0 / 19%);
  height: 87vh;
  border-top: none;
  margin-top: 5vh;
  border: 1px solid black;
  border-bottom: none;
}

.modalTab {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #ffffff;
  position: absolute;
  width: 49.5%;
  height: 5vh;

  border: 1px solid black;
  border-bottom: none;
}

.left{
  left:0px;
}

.right {
  right:0px;
}

.slide{
  bottom:-92vh !important;
}

#dailyTab {
  border-bottom: 1px solid white;
}

#practiceTab {
  border-bottom: 1px solid black;

}

.modalPadding {
  background-color: #ffffff;
  margin: 5vw;
}

.startButton {
  border-radius: 2rem;
  background-color: #6aaa64;
  color: #fff;
  font-size: 3vh;
  width: fit-content;
  padding: 2px 20px;
  cursor: pointer;
  margin: 0 auto;
}

/* GameBoard */
.col-1 {
  width: 8.5%;
}

.col-15 {
  width: 12.5%;
}


.letterBoxRow {
  margin: 3px 0;
  display: flex;
  justify-content: center;
}

.letterBox {
  border: 1px solid #aaaaaa;
  display: flex;
  margin: 0 3px;
  height: 8vh;
  width: 8vh;
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.wordContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;

}



/* KeyBoard */

.keyboard {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.keyboardRow {
  margin: 5px auto;
  text-align: center;
  height: 8vh;
}

.keyBtn {
  background-color: #d3d6da;
  border: 0px solid;
  border-radius: 0.25em;
  cursor: pointer;
  height: 7vh;
  margin: 2px;
  padding: 0;
  font-size: 3.5vh;
  line-height: 3.5vh;
  text-transform: uppercase;
}

/* Checking if letters and words are correct or exist */
.wordDoesntExist {
  color: red;
}

.wrong {
  background-color: #787c7e;
  color: white;
}

.wrongPosition {
  background-color: #c9b458;
  color: white;
}

.correct{
  background-color: #6aaa64;
  color: white;
}


@media screen and (min-width: 480px) {
  dialog {
    margin:auto;
  }
}
