body {
  margin: auto;
  text-align: center;
  width: 60%;
}

.col-15 {
  width: 12.499999995%;
}

.letterBox {
  border: 5px solid #444444;
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;

}

.keyboard {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.keyboardRow {
  margin: 5px auto;
  text-align: center;
}

.keyBtn {
  background-color: #d3d6da;
  border: 0px solid;
  border-radius: 0.25em;
  cursor: pointer;
  height: 58px;
  margin: 2px;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;

}
