body {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

button:active{
    border: 2px solid #888888;
    box-shadow: 2px 2px #888888;
}

.col-1 {
  width: 8.5%;
}

.col-15 {
  width: 12.5%;
}

.letterBox {
  border: 3px solid #888888;
  display: flex;
  margin: 0 3px;
  height: 4rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.keyboard {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.keyboardRow {
  margin: 5px auto;
  text-align: center;
}

.keyBtn {
  background-color: #d3d6da;
  border: 0px solid;
  border-radius: 0.25em;
  cursor: pointer;
  height: 58px;
  margin: 2px;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.wordContainer{
  display: flex;
  justify-content: center;
  margin: 50px auto;

}
